@model MenuDelDia.Presentacion.Models.MenuModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Menu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ingredients)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ingredients)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MenuDays)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MenuDays)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SpecialDay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SpecialDay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locations)
        </dt>

        <dd>
            <table>
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Locations.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.Hidden("Locations.Index", (i + 10))
                                @Html.CheckBox("Locations[" + (i + 10) + "].Selected", Model.Locations[i].Selected,new {disabled="disabled"})
                            </td>
                            <td>
                                @Model.Locations[i].Name
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
