@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Menú del Día</h1>
</div>

<div class="row">
    <div class="col-md-4">
        @if (User.Identity.IsAuthenticated)
        {
            <ul>
                <li><a href="@Url.Action("Index","Cards")">Cards</a></li>
                <li><a href="@Url.Action("Index","Tags")">Tags</a></li>
                <li><a href="@Url.Action("Index","Locations")">Location</a></li>
                <li><a href="@Url.Action("Index","Menus")">Menu</a></li>
                <li><a href="@Url.Action("Index","Restaurants")">Restaurants</a></li>
            </ul>

        }

    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">

    </div>
</div>
