@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Menú del Día</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <div class="col-md-4">
                <div class="well">
                    <a href="@Url.Action("Edit","Restaurants")" class="btn btn-primary btn-lg btn-block">Restaurant</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <a href="@Url.Action("Index","Locations")" class="btn btn-primary btn-lg btn-block">Sucursales</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well">
                    <a href="@Url.Action("Index","Menus")" class="btn btn-primary btn-lg btn-block">Menús</a>
                </div>
            </div>
        }
        else if (User.Identity.IsAuthenticated && User.IsInRole("Administrator"))
        {
            <div class="well">
                <div class="col-md-4">
                    <div class="well">
                        <a href="@Url.Action("Index","Restaurants")" class="btn btn-primary btn-lg btn-block">Restaurants</a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="well">
                        <a href="@Url.Action("Index","Cards")" class="btn btn-primary btn-lg btn-block">Cards</a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="well">
                        <a href="@Url.Action("Index","Tags")" class="btn btn-primary btn-lg btn-block">Tags</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
