@using MenuDelDia.Presentacion.Resources
@model MenuDelDia.Entities.Card

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewResources.DeleteTitle</h2>

<h3>@ViewResources.DeleteMessage</h3>
<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="@ViewResources.Delete" class="btn btn-default" /> |
            @Html.ActionLink(ViewResources.Back, "Index")
        </div>
    }
</div>
