@using MenuDelDia.Presentacion.Resources
@model MenuDelDia.Entities.Card

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewResources.DetailsTitle</h2>

<div>
    <h4>Card</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CardType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CardType)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(ViewResources.Edit, "Edit", new { id = Model.Id }) |
    @Html.ActionLink(ViewResources.Back, "Index")
</p>
